# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
bower_components
.sass-cache
assets/css/main.css.map
assets/css/*main*.css
